- var items = [{title:"startup",price:36,desc:"Monthly price based on 6 month subscription",listPricing:['1 Administrator','4 Company Trainings','4 Inventory Campaigns','1 GB Storage','Transfer files up to','Training Archive','AI Voice Generator','Internal Screen Record','Image, Audio, and Video File Storage','Free and Optional Purchase of Industry Certifications','Quality Control Through Training Tests','Management of up to 25 Staff','Document Organization','Activity Feed','Team and Staff Announcements'],cta:"Choose Plan"},{title:"local",price:72,desc:"Monthly price based on 6 month subscription",listPricing:['1 Administrator','9 Company Trainings','9 Inventory Campaigns','1 GB Storage','Transfer files up to','Training Archive','AI Voice Generator','Internal Screen Record','Image, Audio, and Video File Storage','Free and Optional Purchase of Industry Certifications','Quality Control Through Training Tests','Management of up to 25 Staff','Document Organization','Activity Feed','Team and Staff Announcements'],cta:"Choose Plan"},{title:"regional",price:156,desc:"Monthly price based on 6 month subscription",listPricing:['3 Managers','1 Administrator','25 Company Trainings','25 Inventory Campaigns','1 GB Storage','Transfer files up to','Training Archive','AI Voice Generator','Internal Screen Record','Image, Audio, and Video File Storage','Free and Optional Purchase of Industry Certifications','Quality Control Through Training Tests','Management of up to 25 Staff','Document Organization','Activity Feed','Team and Staff Announcements'],cta:"Choose Plan"},{title:"National",price:240,desc:"Monthly price based on 6 month subscription",listPricing:['6 Managers','1 Administrator','50 Company Trainings','25 Inventory Campaigns','1 TB Storage','Transfer files up to','Training Archive','AI Voice Generator','Internal Screen Record','Image, Audio, and Video File Storage','Free and Optional Purchase of Industry Certifications','Quality Control Through Training Tests','Management of up to 25 Staff','Document Organization','Activity Feed','Team and Staff Announcements'],cta:"Choose Plan"}]
- var usage = ['Unlimited Training','Unlimited Inventory','Unlimited Documents','Customize Branding & Domain','MultiUser Platoform','Api Integration']
mixin cardPricing(classCard,title,price,desc,list,cta)
 div(class=`cardpricing d-flex align-items-center flex-column radius-12 ${classCard}`) 
  h2(class="font-outfit weight-500 size-30 capiliatize cardpricing__title")=title
  h3(class="font-outfit deepdrkblue size-46 weight-400 cardpricing__price")
   span(class="weight-700 size-20 d-inline-block  cardpricing__price--sign") $
   span(class="cardpricing__price--value")=price
   span(class="deepgreen size-18 font-outfit weight-700") /month <span class="cardpricing__price--suffix d-inline-block size-10">th</span>
  p(class="deepgreen font-outfit weight-600 size-12 mtop-10 mrb-10 cardpricing__desc")=desc 
  ul(class="cardpricing__list")
   each val in list 
    li(class="mrb-8 d-flex align-items-center")
     span(class="cardpricing__list--dot mrt-10")
     span(class="deepgreen size-15 font-outfit weight-500 ")=val
  a(href="#" class="customBtn choosePlan")=cta
mixin minicard(titleCard,descCard)
 div 
   h3=titleCard
   p=descCard
mixin cardEnterprise()
 div(class="cardpricing d-flex align-items-center flex-column radius-12 cardpricing__Enterprise")
  h2(class="font-outfit weight-500 size-30 capiliatize cardpricing__title") Enterprise
  div(class="w-100 d-flex flex-column align-items-center cardpricing__Enterprise--getAqoute")
   h2(class="font-outfit weight-500 size-30 capiliatize cardpricing__price") Custom Price
   a(href="#" class="btn customBtn cardpricing__getAqoute ") Contact Sales
  h3 Unlimited Usage 
  ul 
    each val in usage
     li=val 
    

  +minicard('Multiuser Platform','Multiple Teams and users')
  +minicard('User Management','User Access Control') 
   

.swiper.pdb-50
  .swiper-wrapper 
   each val,index in items 
    .swiper-slide()
     +cardPricing(`${(index===3?"promote":"")}`,val.title,val.price,val.desc,val.listPricing,val.cta)
   .swiper-slide()
     +cardEnterprise()
.pagination.position-relative
    .swiper-button-prev
    .swiper-button-next