mixin radio(forId,name,className)
 div(class=className)
   input(type="radio" id=`${forId}` name=name)
   label(for=`${forId}`)=forId

mixin registerPersonal(className)
 div(class=className)
  div 
   p(class="font-popinos size-17 weight-500") Register User 
  include ./userInfo.pug
  div(class="pointer")
   input(type="checkbox" id="terms")
   label(for="terms" ) Accept Terms
   
  div 
   button(type="submit" class="btn customBtn w-100") Sign Up


div(class='registerForm')
 form
  div(class="registerForm__selectors d-flex align-items-center justify-content-center")
   +radio('company','identitiy')
   +radio('personal','identitiy','mrl-10')
  div(class="registerForm__personal")
   +registerPersonal('registerForm__personal__container pdt-30')
  div(class="registerForm__company")
   include ./registerCompany.pug