- var content = [{text:"Dewdroppers training online  courses were used to improve the engagement our brand ambassadors have with consumers. With just the 1.5 hour Liquor Essentials course, our staff is much more educated on the liquor industry as a whole and better versed at communicating our consumers product needs.",name:"Lindsey Mena",title:"Director of Field Marketing",position:"Goodnight Loving Vodka"},{text:"Being able to track my teams training progress helped me to understand where they needed more assistance and where they excelled. The inventory management feature is a gem for my specialists. They love seeing all inventory they have for each company in one place.",name:"Michelle Fariabi",title:"City Manager",position:"Top of the Line Event Marketing"},{text:"I've worked many years in sales & for food brands but this was the first time I was introduced to taking courses before the event itself. This is a genius idea so that all new trainees are properly onboarded with in-depth knowledge about each brand prior to our events. The tests ensure we have the correct information to share about each product and its uniqueness!",name:"Nikki Loba",title:"Promotional Specialist",position:"Self Employed"}]


mixin testmonialCard(txt,name,title,position)
 .testmonialCard 
   p(class="dmsans size-16 brown weight-400 text-center testmonialCard__txt pdb-50")=txt 
   h2(class="font-outfit size-24 normalBlack text-center weight-bold")=name 
   h3(class="dmsans size-16 brown weight-400 text-center mrb-5 mtop-5")=title 
   h4(class="dmsans size-16 brown weight-400 text-center")=position


.testmonial 
 .container-page 
  div(class="d-flex align-items-center flex-column")
   p(class="label") TESTIMONIALS
   h2(class='h2Heading mtop-25') What We’ve Been <span class="pink weight-600">Told</span>
   p(class="brown size-18 weight-400 font-dmsans testmonial__subheading text-center mtop-25") Agencies, brands, directors, managers, leads, and more use our services to maintain their excellent reputations.
  div(class="testmonial__swiper mtop-50")
   .swiper
    .swiper-wrapper
     each val,index in content 
      div(class=`swiper-slide ${val.name==="Michelle Fariabi"?"activeName":""}`)
       +testmonialCard(val.text,val.name,val.title,val.position)
  .pagination.position-relative
    .swiper-button-prev
    .swiper-button-next
    

      
    